<!-- <div class="container" style="border: 228rem;"> -->

<div class="card contenedor">
  <div class="card-header color-modal-header">
    <h3>Configuración de Lotes</h3>
  </div>
  <div class="card-title">
    <div *ngIf="!lotes" class="alert alert-info">Esperando carga de imagenes</div>
    <div *ngIf="lotes?.length==0" class="alert alert-info"> Lista vacía
      <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-primary btn-sm" style="margin-right: 8px"
        (click)='create()'>{{'Crear Lote' |translate}}</button>
    </div>
  </div>

  <div class="card-body row">
    @for(lote of lotes; track lote.imgFileName) {
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
      <mat-card appearance="outlined" style="margin-bottom: 30px;">
        <mat-card-header>
          <!-- <img *ngIf="lote?.imgFileName" mat-card-avatar src="{{host}}/api/empresa/uploads/img/admin/lote_peque.png"> -->     
          <!-- <mat-card-title>{{lote.label | slice:0:35}}...</mat-card-title> -->
        </mat-card-header>
        <img *ngIf="lote?.imgFileName" class="img-thumbnail" 
            src="{{host}}/api/lote/uploads/img/{{lote.imgFileName}}"
            alt="Imágenes de los lotes">
        <mat-card-content>
          <!-- <p> precio: {{lote.precio}}</p> -->
          <p>{{lote.label | slice:0:37}}</p>
        </mat-card-content>
        <mat-card-actions class="grupo-botones">
          <div class="row">
            <div class="col">
              <button *ngIf="authService.hasRole('ROLE_ADMIN')" mat-button style="margin-right: 1px"
                (click)='update(lote)'>{{'Edit' |translate}}</button>
            </div>
            <div class="col">
              <button *ngIf="authService.hasRole('ROLE_ADMIN')" mat-button style="margin-right: 1px"
                [routerLink]="['/admin-index/admlotesugerencia', lote.id]">
                {{'Obras' |translate}}
              </button>
            </div>
            <div class="col">
              <button *ngIf="authService.hasRole('ROLE_ADMIN')" mat-button style="margin-right: 1px"
                (click)='create()'>{{'Create' |translate}}</button>
            </div>
            <div class="col">
              <button *ngIf="authService.hasRole('ROLE_ADMIN')" mat-button style="margin-right: 1px"
                (click)='delete(lote)'>{{'Delete' |translate}}</button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
    }
  </div>

</div>
